h1{
    color:rgb(184, 0, 0);
}

p{
    color: rgb(249, 255, 254);
    text-align: right;
}

body{
    background-color: #17153B
}

button{
    color: antiquewhite;
    /* background-color: yellowgreen; */
    background-color: #ff0000 ;
}

#headingOne{
    color: aqua;
    text-align: center;
    text-decoration: underline;
    font-weight: 200;
}

.myClass{
    color: #ff0000;
}

a{
    text-decoration: none;
    color: rgb(37, 166, 1);
}

#one{
    font-family: sans-serif;
}
#two{
    font-family: 'Segoe UI';
}


